*{
    box-sizing: border-box;
}
box.container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 500px;
}
.box1 {
    display: flex;
     width: 600px;
     height: 900px;
     background-color: whitesmoke;
}
.box2 { 
    display: flex;
width: 700px;
height: 900px;
background-color: #20dbc2;
}
.logo img {
    width: 25px;
    display: flex;
    margin-left:auto ;
    margin-right: auto;
}
header img{
    width: 100px;
    height: 40px;
  
}
.logo a{
    text-decoration: none;
    justify-content: center;
}
body p {
    text-decoration: none;
}
input {
    
    padding: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    margin-top: 15px;
}

.form-input {
    display: 
    justify-content: center;

}
div h1 {
    text-align: center;
}
div p {
    text-align: center;
}
button{
    display: flex;
    max-width: 600px;
    border: none;
    margin-top: 10px;
}