* {
    box-sizing: border-box;
}

.box-container {
   display: flex;

}
.box1 {
    background-color: white;
    display: flex;
    width: 800px;
    height: 700px;
}
.box2 {
    background-color: #20dbc2;
    height: 700px;
    width: 300px;
} 
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
p {
    text-align: center;
}
div .logo {
    text-align: center;
}
div a{
    text-decoration: none;
}
