* {
    box-sizing: border-box;
}
.container{
    display: flex;
}
.box1 {
    background-color: bisque;
    height: 500px;
    width: 600px;
}
.box2{
    background-color: #20bdc2;
    height: 400px;
    width: 400px;
}
h1 {
    text-align: center;
}