* {
    box-sizing: border-box;
}

.box-container {
display: flex;
}
.box1 {
    background-color: white;
    display: flex;
    width: 600px;
    height: 700px;
}
.box2 {
    background-color: blue;
    height: 700px;
    width: 600px;
}
h1{
    text-align: center;
}