*{
    box-sizing: border-box;
}
box.container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 500px;
}
.box1 {
    float: left;
     width: 500px;
     height: 900px;
     background-color: whitesmoke;
}
.box2 {
float: left;   
width: 500px;
height: 900px;
background-color: #20dbc2;
}
.logo img {
    width: 25px;
}
header img{
    width: 100px;
}
.logo a{
    text-decoration: none;
}
body p {
    text-decoration: none;
}
input {
    display: flex;
    width: 300px;
    border: none;
    margin-top: 15px;
}
h1{
    display: flex;
    color: blue;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}